<section id="add">
  <form action="/" method="post" id="new_task_form" >
    <textarea name="content" placeholder="Your note&hellip;"></textarea>
    <input type="submit" value="Take Note!" id="new_task_btn" />
  </form>
</section>
<div id="tasks">
<% @notes.each do |note| %>
  <%= erb :task, :locals => {:note => note} %>
<% end %>
</div>

